/*before #bc8a4d*/

body {
  background: #ffffff;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

/*---------------------------------------
  Typography
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0px;
}

h1 {
  color: #ffffff;
  font-size: 45px;
  line-height: normal;
}

h2 {
  color: #2b2b2b;
  font-size: 35px;
  line-height: 52px;
  margin-top: 0px;
}

h3 {
  color: #282828;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h4 {
  color: #353535;
  font-size: 20px;
}

p {
  color: #878787;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 0.2px;
}

.bg-grey {
  background: #2b2b2b !important;
}

.white-color {
  color: #f0f0f0;
}

/*---------------------------------------
  Buttons
-----------------------------------------*/

.section-btn {
  background: #4285f4;
  border: none;
  border-radius: 50px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 18px 32px;
  margin-top: 42px;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.section-btn:focus,
.section-btn:hover {
  background: #ffffff;
  color: #000000;
}

/*---------------------------------------
  General
-----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4285f4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #000000;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  margin: 0;
  padding-bottom: 32px;
}

#service,
#about,
#work,
#contact,
footer,
#videos {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#service,
#work {
  background: #f9f9f9;
  text-align: center;
}

#videos {
  text-align: center;
}

#contact {
  background: #f9f9f9;
}

#videos .work-thumb:hover {
  border-radius: 8px;
  filter: saturate(160%);
}

#work .work-thumb:hover {
  border-radius: 8px;
  filter: saturate(300%);
}

/*---------------------------------------
  Pre loader section
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #454545;
  border-top-color: #ffffff;
  animation: spinner 0.9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
  Home section
-----------------------------------------*/

#home {
  background: url("../images/home-bg2.jpg") 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: right;
}

/*---------------------------------------
  Service section
-----------------------------------------*/

.service-thumb {
  background: #ffffff;
  border-radius: 5px;
  padding: 42px 22px;
  cursor: crosshair;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.service-thumb:hover {
  background: #2b2b2b;
  top: -5px;
}

.service-thumb:hover .fa,
.service-thumb:hover h4 {
  color: #ffffff;
}

.service-thumb h4 {
  padding-bottom: 5px;
}

.service-thumb .fa {
  color: #7682cc;
  font-size: 62px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 22px;
}

.bg-grey .fa {
  color: #ffffff;
}

/*---------------------------------------
  About section
-----------------------------------------*/

#about {
  padding-top: 100px;
}

.about-image-thumb img {
  border-radius: 5px;
  margin-bottom: 22px;
}

.about-image-thumb .social-icon li a {
  background: #f0f0f0;
}

.about-thumb {
  padding: 0px 12px;
}

.about-thumb p {
  padding: 2px 0;
}

/*---------------------------------------
  Work section
-----------------------------------------*/

.work-thumb {
  margin: 22px 0 12px 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.work-thumb img {
  border-radius: 5px;
}

.work-thumb h2 {
  font-size: 25px;
}

.work-thumb-overlay {
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  opacity: 10%;
  width: 100%;
  height: 100%;
  padding: 82px 42px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.work-thumb:hover .work-thumb-overlay {
  opacity: 1;
}

/*---------------------------------------
  Contact section
-----------------------------------------*/

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}

/*---------------------------------------
  Footer section
-----------------------------------------*/

footer {
  background: #4285f4;
  text-align: center;
  padding: 0;
}

footer p {
  padding: 16px;
  margin: 0;
}
footer a {
  color: #ffffff;
}
/*---------------------------------------
  Social icon
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  background: #ffffff;
  border-radius: 100%;
  color: #454545;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: 0;
  margin: 0px 6px 10px 6px;
}

.social-icon li a:hover {
  background: #4285f4;
  color: #ffffff;
  transform: scale(1.1);
  top: -5px;
}

/*---------------------------------------
  Mobile Responsive styles
-----------------------------------------*/

@media (max-width: 980px) {
  #home {
    height: 55vh;
  }
  .service-thumb {
    margin-top: 12px;
    margin-bottom: 22px;
  }
  .contact-info {
    margin-top: 22px;
  }
}

@media (max-width: 768px) {
  #home {
    height: 85vh;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: 26px;
    margin-top: 90px;
  }
  h2 {
    font-size: 23px;
  }
  #home {
    height: 95vh;
  }
  .contact-info {
    margin-top: 42px;
  }
}

@media (max-width: 320px) {
  #home {
    height: 125vh;
  }
}

/*---------------------------------------
  Menu styles
-----------------------------------------*/

#nav-wrap a,
#nav-wrap li,
#nav-wrap ul {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}

#nav-wrap {
  font: 12px opensans-bold, sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: #333;
}

#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;
  text-align: center;
  background-color: #4285f4;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:hover,
ul#nav li a:active {
  background-color: #4285f4 !important;
  color: #000000;
}

ul#nav li.current a {
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  header .banner-text h1 {
    font: 80px/1.1em opensans-bold, sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px;
  }
}

@media only screen and (max-width: 900px) {
  #nav-wrap {
    font: 11px opensans-bold, sans-serif;
    letter-spacing: 1.5px;
  }
}

@media only screen and (max-width: 767px) {
  #nav-wrap {
    font: 12px opensans-bold, sans-serif;
    background: 0 0 !important;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }

  ul#nav li a:hover,
  ul#nav li a:active {
    background-color: #1f2024 !important;
    color: #4285f4;
  }

  ul#nav li.current a {
    color: #4285f4;
  }

  #nav-wrap > a {
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #4285f4;
    border: none;
    float: right;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: relative;
    top: 0;
    right: 0;
  }
  #nav-wrap > a:after,
  #nav-wrap > a:before {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: "";
  }
  #nav-wrap > a:after {
    top: 60%;
  }
  #nav-wrap:not(:target) > a:first-of-type,
  #nav-wrap:target > a:last-of-type {
    display: block;
  }
  #nav-wrap ul#nav {
    height: auto;
    display: none;
    clear: both;
    width: auto;
    float: right;
    position: relative;
    top: 12px;
    right: 0;
  }
  #nav-wrap:target > ul#nav {
    display: block;
    padding: 0;
    background: #1f2024;
    margin: 0;
    clear: both;
    top: 0;
  }
  ul#nav li {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
    text-align: left;
    border-bottom: 1px solid #2d2e34;
    border-bottom-style: dotted;
  }
  ul#nav li a {
    display: block;
    padding: 0;
    margin: 12px 0;
    line-height: 16px;
    border: none;
  }
}

@media only screen and (max-width: 480px) {
  #nav-wrap ul#nav {
    width: auto;
    float: none;
  }
}
